@font-face {
    font-family: 'Roboto';
    src: url('css/Roboto/26892287593.ttf') format('truetype');
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto","Arial",sans-serif;
    color: #0f0f0f;
}
header{
    display:flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 16px;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}
.container{
    display: grid;
    grid-template-columns: 200px 90%;
    max-width: 100%;
}
.d-flex{
    display: flex;
}
.a-items{
    align-items: center;
}
.menu-1 i{
    padding: 10px 8px;
    height: 30px;
}
#barra-buscador{
    display: grid;
    grid-template-columns: 97% 2%;
    gap: 1%;
    width: 30%;
}
#barra-buscador > div{
    justify-content: center;
}
.menu-3{
    gap: 20px;
}
form {
    display: flex;
    align-items: center;
}
input{
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    width: 92%;
}
form > a {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
}
.space-icon {
    padding: 8.5px 15px;
}
.col-left-img{
    padding: 8px 12px;
    border: 1px solid #000;
    border: 1px solid transparent;
    max-width: 100%;
}
.col-left-img:hover{
    background-color: #e5e5e5;
    border-radius: 10px;
}
.col-left-img a {
    display: flex;
    align-items: center;
}
.col-left-img > a > i, .col-left-img > a > img {
    width: 17px;
}
.col-left-img a > span {
    padding-left: 20px;
}
.list ul{
    font-size: 11px;
    font-weight: lighter;
    color: #0f0f0f; 
    list-style: none;
}
.list{
    border-bottom: 1px solid #dbdbdb;
    padding: 0px 12px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    width: 90%;
    max-width: 100%;
}
.list h2{
    font-size: 13px;
    padding: 6px 0px 6px 12px;
}
.list a{
    text-decoration: none; 
}
.logo-suscripciones{
    border-radius: 50%;
    width:20px; 
}
.second-menu ul{
    display: flex;
    list-style: none;
    gap: 3px;
    font-size: 11px;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 3;
    text-decoration: none;
    max-width: 100%;
}
.second-menu a{
    font-weight: bold;
    text-decoration: none;
    color: #0f0f0f;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 6px 6px;
    border-radius: 10px;

}
.first-col-right, .second-col-right{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
    margin-bottom: 22px;
    max-width: 100%;
    flex-wrap: wrap;
}
.container-col-right-video{
    padding: 26px 0px;
}
.img-video{
    background-color: transparent;
    border-radius: 10px;
    height: 155px;
    width: 270px;
    object-fit: cover;
    max-width: 100%;
}
.img-shorts{
    height: 320px;
    width: 180px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 10px;
    max-width: 100%;
}
.shorts-col-right{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 5px;
}
.title_video{
    font-size: 12px;
    font-weight: bold;
}
.subtitle_video, .subtitle_video2{
    font-size: 11px;
    font-weight: lighter;
    color: #606060;
}
.video-text{
    display: flex;
    padding-right: 24px;
    padding-top: 5px;
    width: 100%;
    gap: 10px;
    overflow: hidden;
    line-height: 1.5;
    max-width: 100%;
}
.logo-users{
    border-radius: 50%;
    width:25px;   
}
.shorts h2{
    font-size: 18px;
}
.shorts-title{
    display: flex;
    padding-bottom: 20px;
}
.width-shorts{
    width: 165px;
    line-height: 1.5;
    max-width: 100%;
}






